<p>Your password has been reset, <%=Name%>!</p>
<p>As a friendly reminder, your account details are:</p>
Username: <%=Name%></br>
Email: <%=Email%></br>
New Password: <%=NewPassword%></br>
<p>Click here to take effect change to new password: <a href="<%=URL%>">Apply</a></p>
<p>If you don't want change password, please skip this email.</p>
<p>Thank you.</p>
